html {
    margin: 0px;
    padding: 0px;
}

.wrap {
    background-color: #e8f3fc;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    width: 100%;
    height: 70px;
    color: white;
    background-color: #02506f;
    position: static;
}

#head-nav {
    width: 70%;
}

#log-nav {
    display: flex;
    width: 30%;
}

#head-menu {
    display: flex;
    list-style-type: none;
    width: 100%;
}

#log-menu {
    display: flex;
    width: 100%;
    list-style-type: none;
}

li {
    margin: 0px 10px 0px 0px;
    font-family: cursive;
    font-size: 20px 
}

li a {
    color: white;
    text-decoration: none;
}

content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#nav-bar {
    width: 20%;
}

#content {
    width: 80%;
}

h1 {
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

#img-wrap {
    display: grid;
    grid-template-columns: 200px auto;
}

#image {
    float: left;
}

#text p {
    text-align: justify;
    margin: 10px;
}

#footnote p {
    font-size: 12px;
    margin-top: 0;
}

.cit {
    color: black;
    text-decoration: none;  
}
